In [1]:
# Import dependencies
from pathlib import Path
import pandas as pd

# Create a path reference to the file 
heart_path = Path("resources/heart.csv")

In [2]:
# Read CSV into DataFrame
df = pd.read_csv(heart_path, delimiter=",")

# Preview DataFrame
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df2 = df.copy()

In [4]:
# Check columns and data types
print(df.columns)
df.dtypes

# Upon initial review, no columns need recasting (.astype)

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [5]:
# Generate summary statistics for dataset
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
# Check for nulls
df.isnull().sum()

# The dataset does not appear to contain any explicit null (NaN) values

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
# Check for values of zero in features that are int or float, as these may be spurious
age_zero = (df[['Age', 'RestingBP', 'Cholesterol', 'FastingBS',	'MaxHR', 'Oldpeak']] == 0).sum()
print(age_zero)

Age              0
RestingBP        1
Cholesterol    172
FastingBS      704
MaxHR            0
Oldpeak        368
dtype: int64

In [8]:
# Creating initial machine learning model as baseline
# Importing dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [9]:
# Split our preprocessed data into our features and target arrays
y = df['HeartDisease']
X = df.drop(columns='HeartDisease')

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
X= pd.get_dummies(X)
# Drop the non-beneficial ID columns, 'HeartDisease'.

X.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,False,True,False,True,False,False,False,True,False,True,False,False,False,True
1,49,160,180,0,156,1.0,True,False,False,False,True,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,False,True,False,True,False,False,False,False,True,True,False,False,False,True
3,48,138,214,0,108,1.5,True,False,True,False,False,False,False,True,False,False,True,False,True,False
4,54,150,195,0,122,0.0,False,True,False,False,True,False,False,True,False,True,False,False,False,True

In [11]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
X_train.shape

(688, 20)

In [14]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=20))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [15]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=1)

Reloading Tuner from ./untitled_project/tuner0.json

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 507 Complete [00h 00m 07s]
val_accuracy: 0.886956512928009

Best val_accuracy So Far: 0.917391300201416
Total elapsed time: 01h 09m 37s

Search: Running Trial #508

Value             |Best Value So Far |Hyperparameter
relu              |tanh              |activation
53                |35                |first_units
3                 |2                 |num_layers
5                 |3                 |units_0
1                 |7                 |units_1
9                 |5                 |units_2
3                 |5                 |units_3
9                 |3                 |units_4
9                 |1                 |units_5
200               |8                 |tuner/epochs
0                 |3                 |tuner/initial_epoch
0                 |4                 |tuner/bracket
0                 |1                 |tuner/round

Epoch 1/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.5234 - loss: 0.6931 - val_accuracy: 0.6130 - val_loss: 0.6922
Epoch 2/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5266 - loss: 0.6929 - val_accuracy: 0.6130 - val_loss: 0.6914
Epoch 3/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5384 - loss: 0.6925 - val_accuracy: 0.6130 - val_loss: 0.6905
Epoch 4/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5120 - loss: 0.6929 - val_accuracy: 0.6130 - val_loss: 0.6899
Epoch 5/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 991us/step - accuracy: 0.5227 - loss: 0.6926 - val_accuracy: 0.6130 - val_loss: 0.6893
Epoch 6/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 958us/step - accuracy: 0.5356 - loss: 0.6920 - val_accuracy: 0.6130 - val_loss: 0.6888
Epoch 7/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 993us/step - accuracy: 0.5246 - loss: 0.6923 - val_accuracy: 0.6130 - val_loss: 0.6882
Epoch 8/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 943us/step - accuracy: 0.5316 - loss: 0.6919 - val_accuracy: 0.6130 - val_loss: 0.6876
Epoch 9/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 943us/step - accuracy: 0.5379 - loss: 0.6915 - val_accuracy: 0.6130 - val_loss: 0.6871
Epoch 10/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 966us/step - accuracy: 0.5019 - loss: 0.6934 - val_accuracy: 0.6130 - val_loss: 0.6867
Epoch 11/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 959us/step - accuracy: 0.5623 - loss: 0.6898 - val_accuracy: 0.6130 - val_loss: 0.6861
Epoch 12/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 945us/step - accuracy: 0.5220 - loss: 0.6922 - val_accuracy: 0.6130 - val_loss: 0.6860
Epoch 13/200
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5418 - loss: 0.6909 - val_accuracy: 0.6130 - val_loss: 0.6855
Epoch 14/200

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Initial Accuracy: 91.74%, Loss: 30.31%

In [ ]:
## Possibly look to run model with 0 values dropped. 



df2 = df2.drop(df2[df2['Cholesterol']== 0 is True].index, inplace=True)